* {
  transition: all 0.3s;
}

body {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'Lato', sans-serif !important;
	font-weight: 20px !important;
	font-size: 3rem !important;
	color: #2A2A2A !important;
}

h4 {
	font-family: 'Lato', sans-serif !important;
	/*font-weight: 20px;*/
	font-size: 1.4em !important;
	color: #2A2A2A !important;
}

p, li {
	font-family: 'Lato', sans-serif !important;
	color: #979797;
	font-size: 1rem;
}

nav {
  position: absolute !important;
  top: 0 !important;
}

.navbar-brand {
  font-family: 'Lato', sans-serif !important;
  font-size: 3em !important;
  cursor: default;
  color: white !important;
}

.parallax-bg {
	transition: initial;
}

.centre {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#header {
	background-image: linear-gradient(rgba(0,0,0,0.15), rgba(0,0,0,0.04)), url("./img/dog.jpg");
	background-size: cover;
	background-position: center 0px;
	height: 100vh;
	text-align: center;
}
.tilt {
	width: 50%;
	height: 50%;
}
#header img {
	width: 15vw;
	position:absolute;
    top:0;
    bottom:0;
    left: 0;
    right: 0;
    margin:auto;
}

#bio {
	min-height: 40vh;
	width: 100%;
	background-color: white;
	padding: 13vh;
}
.desc {
	width: 40vw;
	float: left;
}
li {
	color: #2A2A2A;
	list-style: none;
	margin-top: 15px;
}

.images {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	justify-items: center;
	align-items: start;
	grid-gap: 5px;
	grid-row-gap: 0px;
}
figure.snip0015 {
  color: #fff;
  position: relative;
  overflow: hidden;
  width: 100%;
  background: #000000;
  text-align: center;
}
figure.snip0015 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
figure.snip0015 img {
  opacity: 1;
  width: 100%;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
figure.snip0015 figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 3em 3em;
  width: 100%;
  height: 100%;
}
figure.snip0015 figcaption::before {
  position: absolute;
  top: 50%;
  right: 30px;
  bottom: 50%;
  left: 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  content: '';
  opacity: 0;
  background-color: #ffffff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0015 h2,
figure.snip0015 p {
  margin: 0 0 5px;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
}
figure.snip0015 h2 {
  word-spacing: -0.15em;
  font-size: 180%;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-transform: translate3d(0%, 50%, 0);
  transform: translate3d(0%, 50%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0015 h2 span {
  font-weight: 800;
}
figure.snip0015 p {
  font-size: 100%;
  font-weight: 200	;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
figure.snip0015:hover img {
  opacity: 0.35;
}
figure.snip0015:hover figcaption h2 {
  opacity: 1;
  -webkit-transform: translate3d(0%, 0%, 0);
  transform: translate3d(0%, 0%, 0);
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
figure.snip0015:hover figcaption p {
  opacity: 0.9;
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}
figure.snip0015:hover figcaption::before {
  background: rgba(255, 255, 255, 0);
  top: 30px;
  bottom: 30px;
  opacity: 1;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
/*.img5 {
	grid-column: 2/-1;
}*/

#recognitions {
	padding: 5vw;
}

#contact {
	background-image: linear-gradient(rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("./img/contact.jpg");
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	/*width: 100vw;*/
	text-align: center;
}
#contact h1 {
	color: white !important;
}
*:focus {
  outline: none;
}
.inputGroup {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
  background-color: rgba(255,255,255,0.9);
}
.inputGroup label {
  position: absolute;
  top: 0;
  left: 5px;
  pointer-events: none;
  transition: all 0.3s ease;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  color: #979797;
  font-weight: 500;
}
.inputGroup input,
.inputGroup textarea {
  display: block;
  width: 280px;
  border: none;
  left: 25px;
  padding: 5px;
  font-family: 'Lato', sans-serif;
  background: none;
  color: #2A2A2A;
}
.inputGroup input:focus ~ label,
.inputGroup input:valid ~ label,
.inputGroup textarea:focus ~ label,
.inputGroup textarea:valid ~ label {
  top: -20px;
  transition: all 0.3s ease;
  font-size: 13px;
}
.inputGroup textarea {
  height: 100px;
  width: 280px;
  overflow: auto;
  resize: none;
}
button {
  background-color: #2A2A2A;
  border: none;
  padding: 15px 0;
  margin: 0;
  width: 290px;
  color: white;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  border-radius: 5px;
  position: relative;
  cursor: pointer;
}

#footer {
	background-color: #2A2A2A;
	padding: 3.5vw;
	min-height: 40vh;
}
#footer h4 {
	color: white !important;
}
#footer .centre img {
	width: 15%;
}
.f-images {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 5px;
}
.img {
	width: 100%;
  cursor: pointer;
}
@media screen and (min-width:992px) {
    #footer .centre img {
      width: 25%;
    }
}
@media screen and (max-width:992px) {
    #bio {
      padding: 3em 1.2em 3em 1.2em;
    }
}